// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set colors
$vue-green: #41b883;
$vue-green-invert: #fff;
$vue-blue: #34495e;
$vue-blue-invert: #fff;

$navbar-height: 2rem;
$navbar-box-shadow-color: $grey-light;
$navbar-background-color: lighten($grey-light, 10%);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "vue-green": ($vue-green, $vue-green-invert),
    "vue-blue": ($vue-blue, $vue-blue-invert)
);